table {
	width:500px;
}

table tr td,table tr th {
	border:1px solid black;
	border-collapse: collapse;
}

table tr:hover {
	background-color: #cccccc;
}

.drag-row {
	width: 500px;
	background-color: #333333;
	color: white;
	font-weight:bold; 
	
}
